.subscribe-channel {
  text-align: center;
  margin-bottom: 30px;
}
.subscribe-channel a {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}
.info:nth-child(1)  h4{
  margin-bottom: 0px;
  font-weight: 700;
}